* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(254, 232, 184, 255);
}

a {
  color: rgba(254, 232, 184, 255);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #5a2c1a;
  height: 8vh;
}

main {
  background: url(./img/wpp-poke.png) no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 768px) {
  .text-align p {
    font-size: 16px;
  }
  .text-align a {
    font-size: 18px;
  }
  .card .left .top img {
    width: 25vw;
  }

  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #5a2c1a;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes borderColorAnimation {
  0% {
    border-color: #473632;
  }
  25% {
    border-color: #7e642d;
  }
  50% {
    border-color: #b1531d;
  }
  75% {
    border-color: #ff5e00;
  }
  100% {
    border-color: #473632;
  }
}

.card {
  display: flex;
  flex-direction: row;
  width: 70dvw;
  height: 70dvh;
  background-color: rgba(254, 232, 184, 1);
  border: 2px solid #962020;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: borderColorAnimation 3s infinite linear;
}

.top h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  padding: 0 0 0 0;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top img {
  position: relative;
  margin: 20px;
  border-radius: 40px;
  width: 16vw;
  transition: 0.3s ease-in-out;
  border: 5px solid #da9268;
  animation: borderColorAnimation 3s infinite linear;
}

.top img:hover {
  border-radius: 35px;
}

.top img::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid #da9268;
  border-radius: 45px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.top img:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.top p,
.top h1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0px 0px 0px 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  font-size: 20px;
  width: 100%;
  padding: 60px 0 0 20px;
}
.text-align {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.text-align p {
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1.5;
}

.text-align a {
  font-size: 18px;
  text-decoration: none;
  color: #5a2c1a;
  transition: 0.3s;
}

.text-align a:hover {
  opacity: 0.7;
}
